.static.modal {
    display: none;
    z-index: 3000;
}

.overlay-close {
    width: 70px; 
    height: 70px; 
    position: absolute; 
    left: 90%;
    top: 100px;
    display: block; 
    background: transparent url(../images/close-white.png) no-repeat 0 0; 
    z-index: 3010;
}

.overlay {
  overflow: scroll;
  position: fixed;
  top: 0;
  bottom: 110%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10000;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 200ms linear, bottom 0s linear 200ms;
}
.overlay-open {
  bottom: 0;
  opacity: 1;
  transition: opacity 200ms linear, bottom 0s linear;
}
.overlay-view {
  overflow: hidden;
}
.overlay-inner {
  max-width: 1024px;
  margin: 5rem auto;
  padding: 4rem 0;
  max-width: 1024px;
}


@media screen and (min-width: 52rem) {
  .overlay-inner {
    margin-left: auto;
    margin-right: auto;
  }
}

